In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
students= {
    'Names': ["Ali","Ahmed","Uzma"],
    'RollNo': [3,9,1]
}

In [3]:
df=pd.DataFrame(students)
print(df)

   Names  RollNo
0    Ali       3
1  Ahmed       9
2   Uzma       1

In [4]:
l1=["Monday","Tuesday","Wednesday","Thursday"]
days=pd.Series(l1)
print(days)

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
dtype: object

In [5]:
days[2]

'Wednesday'

In [6]:
no=[1,2,3,4]
s1=pd.Series(no,index=l1)
print(s1)

Monday       1
Tuesday      2
Wednesday    3
Thursday     4
dtype: int64

In [7]:
s1["Wednesday"]

3

In [10]:
days[1:3]

1      Tuesday
2    Wednesday
dtype: object

In [11]:
students= {
    'Names': ["Ali","Ahmed","Uzma","Hamza"],
    'RollNo': [3,9,1,5],
    'Age': [30,25,26,31]
}
df_students=pd.DataFrame(students)

In [12]:
print(df_students)

   Names  RollNo  Age
0    Ali       3   30
1  Ahmed       9   25
2   Uzma       1   26
3  Hamza       5   31

In [13]:
print(df_students.loc[2])

Names     Uzma
RollNo       1
Age         26
Name: 2, dtype: object

In [15]:
print(df_students.loc[[0,2]])

  Names  RollNo  Age
0   Ali       3   30
2  Uzma       1   26

In [17]:
ind=["RegNo1","RegNo2","RegNo3","RegNo4"]
df_students1=pd.DataFrame(students,index=ind)
print(df_students1)

        Names  RollNo  Age
RegNo1    Ali       3   30
RegNo2  Ahmed       9   25
RegNo3   Uzma       1   26
RegNo4  Hamza       5   31

In [19]:
df_students1.loc["RegNo1"]

Names     Ali
RollNo      3
Age        30
Name: RegNo1, dtype: object

In [20]:
rno=pd.Series(df_students1["RollNo"])
print(rno)

RegNo1    3
RegNo2    9
RegNo3    1
RegNo4    5
Name: RollNo, dtype: int64

In [21]:
print(df_students1["Names"])

RegNo1      Ali
RegNo2    Ahmed
RegNo3     Uzma
RegNo4    Hamza
Name: Names, dtype: object